<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="static/favicon.ico">

        <title>Martin's Kickass rTorrent viewer</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="static/dashboard.css" rel="stylesheet">

        <!-- Fonts from fontawesome -->
        <script src="https://use.fontawesome.com/662f4a1206.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Martin's Kickass rTorrent viewer</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" action="javascript:void(0);">
                        <input type="text" class="form-control" placeholder="Search..." id="searchbar">
                    </form>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-1 sidebar">
                    <ul class="nav nav-sidebar">
                        {% if active %}
                            <li><a href="/">All</a></li>
                        {% else %}
                            <li class="active"><a href="/">All<span class="sr-only">(current)</span></a></li>
                        {% endif %}
                        {% for client in clients %}
                            {% if client.active %}<li class="active"><span class="sr-only">(current)</span>{% else %}<li>{% endif %}<a href="?active={{ client.title }}">{{ client.title }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a onclick="mark_all_seen()">Mark all as seen</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main" id="content">
                    {% include 'torrents.html' %}
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>
            function getQueryParam(param) {
                location.search.substr(1)
                    .split("&")
                    .some(function(item) { // returns first occurence and stops
                        return item.split("=")[0] == param && (param = item.split("=")[1])
                    })
                return param
            }

            function updatePage(){
                var refreshId = setInterval(function() {
                    $("#content").load('torrents/?active='+getQueryParam('active')+'&search='+getQueryParam('search'));
                }, 5000);
                $.ajaxSetup({ cache: false });
            }

            function control_torrent(action, client_title, torrent_hash){
                $.ajax({url: action + '/' + client_title + '/' + torrent_hash, success: function(){
                    updatePage();
                }});
            }

            $(document).ready(function() {
                updatePage()
            });

            function mark_all_seen(){
                $.ajax({url: 'mark_all_seen', success: function(){
                    updatePage();
                }});
            }

            $("#searchbar").keypress(function(event) {
                if (event.which == 13) {
                    $("#content").load('torrents/?active='+getQueryParam('active')+'&search='+this.value);
                    window.location.replace('?active='+getQueryParam('active')+'&search='+this.value)
                }
            });
        </script>
    </body>
</html>
