<tr>
    <td class="col-md-1">
        <div class="progress">
            <div
                {% if torrent.completed_percent < 100 %}
                    class="progress-bar progress-bar-striped active"
                {% else %}
                    class="progress-bar progress-bar-success"
                {% endif %}
                role="progressbar"
                aria-valuenow="{{ torrent.completed_percent }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ torrent.completed_percent }}%"
                title="{{ torrent.completed_percent }}%"
            >
            <span>{{ torrent.status }}</span>
            </div>
        </div>
    </td>
    <td class="torrent_name" id="{{ torrent.name }}">{{ torrent.name }}</td>
    <td class="col-md-1 peers">{{ torrent.leechers }} / {{ torrent.seeders }}</td>
    <td class="col-md-1 rate">{{ torrent.up_rate|human_size }} / {{ torrent.down_rate|human_size }}</td>
    <td class="col-md-1 size">{{ torrent.size|human_size }}</td>
    <td class="col-md-1 uploaded">{{ torrent.uploaded|human_size }}</td>
    <td class="col-md-1 ratio">{{ '{0:.2f}'.format(torrent.ratio) }}</td>
    <td class="col-md-1 controls">
        {% if torrent.status == 'Closed' %}
        <i class="fa fa-play" aria-hidden="true" onclick="control_torrent('start', '{{ client.title }}','{{ torrent.torrent_hash }}')"></i>
        {% else %}
        <i class="fa fa-stop" aria-hidden="true" onclick="control_torrent('stop', '{{ client.title }}','{{ torrent.torrent_hash }}')"></i>
        {% endif %}
        <i class="fa fa-times" aria-hidden="true" onclick="control_torrent('remove', '{{ client.title }}','{{ torrent.torrent_hash }}')"></i>
    </td>
</tr>
