<tr>
    <td>
        <div class="progress">
            <div
                {% if torrent.completed_percent < 100 %}
                    class="progress-bar progress-bar-striped active"
                {% else %}
                    class="progress-bar progress-bar-success"
                {% endif %}
                role="progressbar"
                aria-valuenow="{{ torrent.completed_percent }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ torrent.completed_percent }}%"
                title="{{ torrent.completed_percent }}%"
            >
            </div>
        </div>
    </td>
    <td>
        {{ torrent.name }}
    </td>
    <td>
        {{ '{0:.2f}'.format(torrent.ratio) }}
    </td>
</tr>